.main-chat
  .main-header
    .header-left
      .header-left__title
        test-group 
      %ul.header-left__members
        Member:
        - @group.users.each do |user| 
          %li.member 
            = user.name 
    
    .header-right
      .header-right__button
        =link_to "Edit",edit_group_path(@group.id)

  .messages
    = render @messages

  = render "messages/form"
