.side-bar
    .user-area
        %h3.user-area__user-name
            test-user
        %ul.user-area__lists
            %li.list
                = fa_icon "edit" ,class: "icon"
            %li.list 
                = fa_icon "cog" ,class: "icon" 

    .groups
        
        .group        
            .group__name 
                example
            .group__message
                メッセージはまだありません