.notification {
  color: $white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;

  .alert{
    background-color: $alert_orange;
  }

  .notice {
    background-color: $light_blue;
  }
}
